/*Hero section styling*/
.hero-container{
    width: 1250px;
    height: 620px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    
  }
  .photo1{
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .hero-title{
   color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 30px;
  
  }
  .hero-intro{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 30px;
  
  }
  .button{
  width: 145px;
  height: 50px;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 50px;
  }

    /* Banner Section Styling*/
    *{
        margin: 0;
        padding: 0;
    }
    .banner-intro{
        width: 1200px;
        height: 620px;
        margin-top: 100px;
        margin: 0 auto;
        border-radius: 16px;
        background: rgba(13, 19, 33, 0.02);
        padding: 40px;
    
    }
    .why-web-dev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 800;
        line-height: 37px;
        
        text-align: center;
    }
    .explain{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 20px;
    }
    .c-heading{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    
    }
    .c-intro{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    }
    .c-button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 100px;
    height: 40px;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: bold;
    margin: 20px 5px;
    text-decoration: none;
    
    
    }
    .coding{
        width: 1100px;
        
        padding: 40px;
        margin: 16px;
        display: flex;
        justify-content:space-between;
    }
    .coding .part1{
        width: 50%;
    }
    .coding img{
        max-width: 100%;
    }
    
    
    .helping-ppl{
        display: flex;
    }
    .h-heading{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
    }
    .h-intro{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
    }
    .h-heading-intro{
        padding: 50px;
    }
    
    .button-link{
        text-decoration: none;
        color: rgb(13, 19, 33);
    }

    /* My inspiration section*/
*{
    margin: 0;
    padding: 0;
}
.my-inspiration{
   
position: absolute;
width: 1260px;
height: 610px;
top: 1840px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;


}
.i-header{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
padding: 20px;
}
.i-intro{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding: 15px 80px;
}
.video{
    padding: 30px;
    border-radius: 50px;
    
    
}


/* Current target section styling*/
  
    
.current-target{
    position: absolute;
    width: 1260px;
    height: 610px;
    top: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
}
.intro-section{
    padding-bottom: 100px;
}
.t-heading{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;

}
.t-intro{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}
.icon-section{
    display: flex;
    justify-content: space-around;
}
.HTML{
    padding: 50px 50px;
    width: 250px;
    background: rgba(255, 76, 30, 0.05);
    margin: 0 20px;
}
.CSS{
    padding: 50px 50px;
    width: 250px;
    background: rgba(0, 76, 232, 0.05);
    
}
.JAVASCRIPT{
    padding: 50px 50px;
    width: 250px;
    background: rgba(255, 223, 0, 0.05);   
    margin: 0 20px;
}
.html-heading{
padding: 20px 0;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.html-intro{
padding: 10px 0;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.link{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}

.css-heading{
padding: 20px 0;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.css-intro{
padding: 10px 0;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.js-heading{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding: 20px 0;
}
.js-intro{
    padding: 10px 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;   
}


/* Support section styling*/
.support{
    position: absolute;
    width: 1260px;
    height: 350px;
    top: 3100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
   
}
.s-content{
    width: 1000px;
    height: 250px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.s-header{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 30px;
}
.s-intro{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.box{  
position: static;
width: 400px;
height: 20px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 10px 20px 19px 20px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
border-radius: 7px;
}
input::placeholder {
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
}
.s-feedback{
    display: flex;
}
.Submit{
 width: 90px;
 height: 50px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 10px 10px 10px 10px;
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 7px;
}
