/*Hero section styling*/
.hero-container{
    width: 1250px;
    height: 620px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    
  }
  .photo1{
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .hero-title{
   color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 30px;
  
  }
  .hero-intro{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 30px;
  
  }
  .button{
  width: 145px;
  height: 50px;
  background-color: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 50px;
  }